# Библиотека Pandas

## Data Frame

In [2]:
import pandas as pd

In [3]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [4]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [5]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [6]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [7]:
frame.columns

Index([u'Name', u'Birth', u'City', u'Position'], dtype='object')

In [8]:
frame.shape

(6, 4)

In [9]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [10]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [11]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [22]:
frame.drop([2], axis=0, inplace=True)

In [30]:
frame

           Name       Birth       City Position  IsStudent
0   Иванов А.А.  22.03.1980     Москва      NaN      False
1  Сорокин И.В.  07.08.1965  Волгоград  инженер       True

In [35]:
frame.addColumn('IsStudent', [False, True])

AttributeError: 'DataFrame' object has no attribute 'addColumn'

In [ ]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [37]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 5 columns):
Name         2 non-null object
Birth        2 non-null object
City         2 non-null object
Position     1 non-null object
IsStudent    2 non-null bool
dtypes: bool(1), object(4)
memory usage: 82.0+ bytes

In [ ]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

In [ ]:
frame

In [ ]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [ ]:
frame

In [ ]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [ ]:
frame

In [ ]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [ ]:
!cat updated_dataset.csv

In [ ]:
#аналог команды для пользователей Windows
!more updated_dataset.csv